/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.big-container {
    width: 70%;
    margin: auto;
}

/* HEADER */
header{
    /* height: 150px;
    background-color: #e579e6; */
    margin-bottom: 20px;
}

.logo-neori {
    width: 180px;
    padding-right: 20px;
    border-right: 1px solid black;
}

.navigation-menu {
    list-style: none;
    margin-top: 30px;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #868686;
}
/* /fine HEADER */


/* inizio primo container */
.first-container{
    margin-bottom: 20px;
    position: relative;
}

.banner-hero {
    background-image: url(../img/banner.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.testo-banner-hero {
    max-width: 350px;
    position: absolute;
    margin-top: 180px;
    margin-left: 20px;
}

/* inizio secondo container */
.second-container{
    height: 500px;
    background-color: #0185ff; 
    margin-bottom: 5px;
}

.col-common {
    height: 80%;
    float: left;
    background-color: #abcfe7;
}


.col-header{
    height: 80px;
    margin-bottom: 15px;
    /* margin-bottom: 10px; */
    background-color: #abcfe7;
}

.row-col {
    padding: 20px 0;

}
.col-left {
    width: 25%;
}

.col-center {
    width: calc(50% - 40px);
    margin: 0 20px;
}

.col-right {
    width: 25%;
}

.footer {
    height: 50px;
    background-color: #8801fe;
    margin-bottom: 20px;
}